
<nav>
  <a routerLink="/Notas" class="aRLink">Notas</a>
  <a routerLink="/AgregarNota" class="aRLink">Agregar Nota</a>
  <a routerLink="/Clientes" class="aRLink">Clientes</a>
  <a routerLink="/Facturas" class="aRLink">Facturas</a>
  <a routerLink="/Posts" class="aRLink">Posts</a>

  <!-- <a routerLink="/dos" class="aRLink">Segundo Componente</a> -->
</nav>
<router-outlet></router-outlet>

<!-- <app-notes></app-notes>
<app-listado-clientes></app-listado-clientes>
<app-listado-facturas></app-listado-facturas> -->
