/* You can add global styles to this file, and also import other style files */


h1 {
  color: #ff7c93;
  background-color: #e4e4e4;
}
h3 {
  color: #364aad;
  background-color: #f5e3f1;
}

p {
  color: #a9448e;
}
